* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  overflow-x: hidden;
}

nav,
footer,
a {
  color: white;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(254, 126, 2);
  height: 10vh;
}
 .nav__titulo{
  font-weight: bolder;
  font-size: 1.6rem;
  margin-left: 2rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
 }

 .nav__logo {
  width: 2rem;
 }
 #buscador {
  height: 1.5rem;
  border-radius: 0.5rem;
  border: none;
  margin-right: 1rem;
  color: rgb(204, 203, 206);
  width: 20rem;
 }
 #search:focus {
  outline: 0;
 }

main {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 2rem;
}

 video {
  width: 20rem;
  border-radius: 1rem;
 }
 video:hover {
  filter: contrast(70%);
 } 

 .main__video--telaMax{
   width:60%;
   border-radius:1rem;
   margin:2rem;
}

.main__figure--telaMax{
  width:100vw;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

 figcaption {
  text-align: center;
  margin-bottom: 0.5rem;
  font-weight: bold;
 }

footer {
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content:center;
  height: 10rem;
  width: auto;
  background: rgb(31, 48, 61);

}

 .footer__titulo{
    margin-right: 1rem;
    padding-top: 2rem;
 }

