


.container-formulario{
color:white;

height:80vh;
background-image: url(../img/casaBuhhh.jpg);
background-repeat: no-repeat;
background-size:100% 60rem;
background-position-y:-4rem;
display:flex;
justify-content: center;
}

form{
    font-weight: bold;
    font-size: 1.5rem;
}

.form__titulo{
    font-family:"skeleton";
    font-size:2rem;
    margin-top:2rem;
    
}


.form__button{
    margin-top:2rem;
    font-family:"skeleton";
    font-weight: bolder;
    font-size: 1.2rem;;
    width:20rem;
    height:2.5rem;

}


@media(max-width:775px){

    .container-formulario{
        background-image: none;
        background:black;
    }
  



}