body{
    background:black;
    color:white;
}

.titulo{
    text-align:center;
    margin:2rem 2rem;
}

section{
    display:flex;
    justify-content: space-around;
  }

.section__icone{
    width:12rem;
}

@media(max-width:900px){

    section{
        align-items: center;
        flex-direction:column;
    }
}