* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: white;
  text-decoration: none;
}

main {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to top, rgb(190, 120, 167) 25%, transparent 80%),
    url("https://images.hdqwalls.com/download/flowers-1366x768.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#imagem-perfil {
  border-radius: 100%;
  border: 5px solid white;
  border-style: double;
  width: 15rem;
  height: 15rem;
  margin-top: 4rem;
}

article {
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-shadow: rgb(95, 52, 81) 3px 3px 3px;
}
          
section {
  display: flex;
  flex-direction: column;
}
  button {
   align-self: center;
   width: 30rem;
   height: 2rem;
   border: none;
   border-radius: 0.5rem;
   margin-top: 0.5rem;
  }
  button:hover {
   background: rgb(255, 239, 235);
  }
  button:focus {
   box-shadow: 0 0 0 0;
   outline: 0;
  }
  .botao__link {
   color: rgb(248, 131, 110);
   font-weight: bolder;
  }

@media (max-width: 480px) {
  button {
    width: 60%;
  }
}
@media (max-height: 480px) {
  main {
    height: 40rem;
  }
}
