#sobre__imagem-de-fundo {
  background-image: url(../img/weare.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}

article {
  padding-top: 4rem;
  width: 40rem;
  font-size: 1.5rem;
}

@media (max-width: 880px) {
  #sobre__imagem-de-fundo {
    background-position: right;
  }
  article {
    width: 44rem;
  }
}
@media (max-width: 730px) {
  article {
    padding: 2rem;
  }
}
