* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  overflow-x: hidden;
  color: white;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: rgb(31, 31, 36);
}

header {
  display: flex;
  justify-content: space-between;
}

.logotipo {
  width: 20rem;
}

.menu {
  width: 30rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: 1.1rem;
}
.menu__link {
  width: 6rem;
}
.menu__link:hover {
  color: rgb(210, 194, 176);
}

main {
  height: 86vh;
}

footer {
  height: 94%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

@media (max-width: 720px) {
  header {
    flex-direction: column;
    justify-content: center;
  }
  figure {
    align-self: center;
    padding-top: 1rem;
  }
  .menu {
    width: 100vw;
    padding: 1rem 1rem;
  
  }
}
