body{
    background:black;
    color:white;
    height:100vh;
}

.titulo{
    text-align:center;
    margin-left:2rem;
    margin-top:2rem;
    margin-bottom:2rem;
}

.funcionarios{
    display:flex;
    flex-direction:row;
    justify-content:center;

}

.funcionarios__imagem{
    margin-left:4rem;
    margin-top:1rem;
    width:6rem;
    height:6rem;
    border-radius:50%;

}

figcaption{
    margin-left:3rem;
    font-size:1.2rem;
    font-weight: bold;
}


@media(max-width:775px){
 .funcionarios{
     flex-direction:column;
     align-items:center;

 }
}