
.principal{
    background-image:url(../img/principalWallpaper.jpg);
    background-size:100% 100vh;
    background-position-x: 12rem;
    height:100vh;
    width:100%;

}
 .principal__informacao{
    float:left;
    width:50%;
    margin-top:2rem;
    margin-left:1.5rem;
    font-size:1.5rem;
 }

 .principal__destaque{
    font-family:"halloween day's";
    font-size:2rem;
 }

 .principal__icone{
    width:2rem;
 }
 .principal__imagem--mobile{
    visibility: hidden;
 }


@media(max-width:1240px){
    .principal{
        background-image:none;
    }
}
@media(max-width:775px){
    .principal{
        background-image: unset;
        display:flex;
        justify-content: space-around;
      
    }
    .principal__informacao{
       width:80%;
    }
    .principal__imagem--mobile{
        margin-top:2rem;
        visibility: visible;
        width:95%;
    }
}

footer{
    height:25vh;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: flex-end;
}

.footer__container{
    margin-top:1rem;
}

.footer__icone{
    width:2rem;
    margin-left:0.5rem;
}    
.footer__icone:hover{
filter: invert(90%);

}


